<div class="home-banner">
  <h1>Le Wagon</h1>
  <p>
    <span id="banner-typed-text"></span>
  </p>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <% 30.times do %>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, ipsam, amet. Repellendus quo labore pariatur maiores voluptate, minus id laboriosam quidem, molestiae, quos ullam tenetur amet. Incidunt alias harum, iusto.</p>
      <% end %>
    </div>
  </div>
</div>
